.MatchDetailCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  margin-bottom: 20px;;


  .match-Date, .match-Venue, .match-Result {
    margin-top: 10px;
  }
  .additional-detail {
    text-align: right;
    & > p {
      margin-bottom: 20px;;
    }
  }
}

